#fp-nav ul li a span {
  background-color: white;
}

.section {
  color: white;
}

#full-page div {
  text-align: center;
}

.aaa {
  font-size: 8px;
}

.profiles img {
  display: inline;
  margin: 10px;
}
